*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
}
.input label{
    font-weight: 300;
}
.input{
    display: flex;
    flex-direction: column;
    width: min(80%, 600px);
    padding: 10px 0 10px 0;
    margin: auto;
}
.input label{
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
}
input{
    box-shadow: none;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    height: 2em;
    padding-left: 15px;
    font-size: 14px;
}
input:focus{
    box-shadow: 2px 4px 5px #c0c0c0;
    border: 1px solid #47adf1;
}
.main-cont{
    background-color: #fafafa;
    min-height: 85vh;
}
.input-main{
    background-color: #ffffff;
    box-shadow: 0px 3px 5px #c0c0c0;
    padding: 20px 50px;

}
.input-main p{
    margin: 0 0 20px 0;
    font-size: 20px;
    text-align: center;
}
.content{
    min-height: 100vh;
    background-color:#c0c0c0;
}
.top-text{
    padding-top: 3vh;
    font-size: 20px;
    margin: 0;
    line-height: 1.5em;
}
.top-text-cont p:last-child{
    padding-bottom: 3vh;
}
.top-text-cont{
    width: 80%;
    margin-left: 4vw;
}
.input-button{
    width: 100%;
    display: flex;
    justify-content: center;
}
button {
    border: none;
    margin-top: 30px;
    color: white;
    font-size: 1.1em;
    font-weight: 900;
    padding: 8px 50px 8px 50px;
    border-radius: 5px;
    background-color: #3a533c;
}
.login-text{
    margin-top: 20px;
    /* margin-left: 4vw; */
    padding-bottom: 30px;
    font-size: 1em;
    text-align: center;
}
.login-text a{
    text-decoration: none;
    color: #3a533c;
}
.logo-cont{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./img/main-img.jpg");
}
.logo-box{
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100vw;
}
.logo-cont p{
    color: white;
    font-size: 3em;
}
.logo-cont img{
    height: 3em;
    margin-right: 20px;
}
@media only screen and (min-width: 700px){
    .logo-cont p{
        font-size: 5em;
    }
    .logo-cont img{
        height: 5em;
    }
    .input-button{
        display: inline-block;
        margin-left: 4vw;
        width: auto;
    }
    .login-text{
        text-align:left;
        margin-left: 4vw;
    }
    .input{
        margin: 0;
        margin-left: 4vw;
        width: max(30%, 300px);

    }
    .input label{
        text-align: left;
    }
    .input-main{
        padding: 20px 0 20px 0;
        display: flex;
        flex-wrap: wrap;
    }
    .input-main p{
        text-align: left;
        margin-left: 4vw;
        width: 100%;
    }
}
@media only screen and (min-width: 1300px){
    .logo-cont{
        min-height: 100vh;
        width: 40vw;
        float: left;
        align-items: flex-start;
    }
    .main-cont{
        min-height: 100vh;
        width: 60vw;
        float: right;
        padding-top: 15vh;
    }
    .logo-box{
        width: 40vw;
        margin-top: 20vh;
    }
}